{{ if .Site.Params.highlightjs -}}
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
{{ range .Site.Params.highlightjslanguages }}
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/{{.}}.min.js"></script>
{{ end }}
<script type="text/javascript">
    hljs.configure({languages: []});
    //hljs.initHighlightingOnLoad();
</script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>
	$(document).ready(function() {
	  $('code').each(function(i, block) {
	    hljs.highlightBlock(block);
	  });
	  $('code').css({'display': 'inline'});
	  $('pre code').css({'display': 'block'});
	});
</script>



{{- end }}
<!-- Disqus-->
{{ if .Site.DisqusShortname -}}
    {{ if ne .Params.showcomments false }}
        <h2>Comments</h2>
        {{ partial "commenting_disqus.html" . }}
    {{ end }}  
{{ else if .Site.Params.GraphCommentId -}}
    {{ partial "commenting_graph.html" . }}
{{- end }}
